/* Centrar enlace "Chiennes Dog" */
.navbar-brand {
    margin-right: auto;
    margin-left: auto;
}
/* Centrar secciones en el navbar */
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}