/* Fondo de la sección */
.bg-image {
    background-image: url('https://img.freepik.com/foto-gratis/lindo-perro-acostado-sobre-almohada-casa_23-2149636195.jpg?t=st=1709173163~exp=1709176763~hmac=cfcf01f7a49672bd1a0103c2b764f9ec1e05ffb97fb7bb2214d87ae0d454107c&w=360');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Estilo del card */
.custom-card {
    width: 80%; /* Ancho del card */
    max-width: 500px; /* Ancho máximo del card */
    padding: 20px;
    border-radius: 10px; /* Borde redondeado del card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}
/* Margen superior para el footer */
footer {
    margin-top: 20px;
}
/* Centrar enlace "Chiennes Dog" */
.navbar-brand {
    margin-right: auto;
    margin-left: auto;
}
/* Centrar secciones en el navbar */
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}