.btn.btn-secundary.color{
    background-color: #a78768 !important;
    color: white;
}

.color{
    background-color: #a78768 !important;
    color: white !important;
}

.white-text{
    color: white !important;
}

.black-text{
    color: black;
}

.nav-bg{
    background-color: #472B1F;
}

.nav.white-text{
    color: white;
}