.seleccionable {
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Agregamos transición suave para la sombra y transformación */
    position: relative;
    /* Agregamos posición relativa para manejar z-index */
    z-index: 1;
    /* Definimos z-index inicial */
}

.seleccionable:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Cambiamos la sombra al hacer hover */
    z-index: 2;
    /* Hacemos que se superponga sobre otros elementos */
    transform: scale(1.05);
    /* Escalamos el componente al hacer hover */
}