.modal-header.mb-3{
    background-color: #a78768;
    color: white;
}

.modal-header{
    background-color: #a78768;
    color: white;
}

.modal-footer{
    background-color: #a78768;
    color: white;
}

.btn.btn-secundary.color{
    background-color: #a78768;
    color: white;
}